<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metaverse.user.db.mapper.MetaverseUserGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.metaverse.user.db.entity.MetaverseUserGroupDO">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="creator_id" property="creatorId" />
        <result column="description" property="description" />
        <result column="saved_at" property="savedAt" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="update_by" property="updateBy" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_name, creator_id, description, saved_at, created_at, updated_at, update_by, version
    </sql>

</mapper>
